
.org-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}


.org-chart-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}


.employee-node {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  position: relative;
}


.employee-info {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #aaa;
  width: 10vw;
  height: 20vh;
}


.employee-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.employee-children {
  display: flex;
}
